<div class="ad-wrapper">
  <div id="ad_container" class="ad_container ad1">Annons 1</div>
  <div id="ad_container" class="ad_container ad2">Annons 2</div>
  <div id="ad_container" class="ad_container ad3">Annons 3</div>
</div>

<script type="module">
  import { getUserTier } from "./js/user/usertier.js";

  document.addEventListener("DOMContentLoaded", async function () {
    // Hämta alla element med klassen "ad_container"
    const ad_containers = document.getElementsByClassName("ad_container");

    try {
      const tier = await getUserTier();

      // Om användaren har nivån "pro", döljer vi alla annonser
      if (tier === "pro") {
        Array.from(ad_containers).forEach((ad_container) => {
          ad_container.classList.add("hide");
        });
      }
    } catch (error) {
      console.error("Fel vid hämtning av användarens nivå:", error);
    }
  });
</script>

<style>
  .ad-wrapper {
    position: relative;
    height: 400px;
  }
  .ad_container {
    position: absolute;
    background-color: #fff;
    width: 20%;
    height: 380px;
    bottom: 2%;
    color: black;
    text-align: center;
  }

  .ad1 {
    right: var(--margin-xl);

    margin-top: var(--margin-xl);
  }

  .ad2 {
    left: var(--margin-xl);

    margin-top: var(--margin-xl);
  }
  .ad3 {
    left: 50%;

    transform: translate(-50%);

    width: 50%;
    height: 150px;
  }

  @media (max-width: 1200px) {
    :root {
      --SEO-ts: 12px;
      --SEO-h2: 20px;
      --SEO-h3: 15px;
    }

    .ad1,
    .ad2 {
      display: none;
    }

    .ad3 {
      width: 80vw;
    }
  }
</style>
