---
// import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
import Sok from "./sokreg.astro";
import Ads from "./ads.astro";
---

<div class="image-container">
  <h1>Bilens verkliga kostnad på 20 sekunder!</h1>
  <Sok />
  <button id="search-car">Sök</button>
  <Ads />
</div>

<style>
  :root {
    --h1-text-sz: 5rem;
    --search-btn-sz: 30rem;
    --search-btn-fs: 2rem;
  }
  .image-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    background: no-repeat url("/bilder/car_image.webp");

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--svart-genomskinlig);
  }

  h1,
  button {
    z-index: 1;
  }

  h1 {
    font-size: var(--h1-text-sz);
    margin-bottom: 100px;
    margin: var(--margin-xl);
    text-align: center;
  }

  button {
    margin-top: var(--margin-xl);
    width: var(--search-btn-sz);
    font-size: var(--search-btn-fs);
  }

  @media (max-width: 550px) {
    :root {
      --h1-text-sz: 3rem;
      --search-btn-sz: 20rem;
      --search-btn-fs: 1.5rem;
    }
  }
</style>
