<label class="reg-num-label" for="reg-number">Reg nummer:</label>
<div class="input-wrapper">
  <div class="blue-strip">
    <img src="/bilder/stars.svg" alt="Stars" class="stars-circle" />
    <div class="country-code">S</div>
  </div>
  <input
    type="text"
    id="reg-number"
    class="registration-input"
    placeholder="ABC123"
    maxlength="6"
  />
  <div class="arrow-knapp" onclick="Search()">
    <img
      src="/bilder/arrow_r.svg"
      alt="arrow"
      class="sok-knapp"
      id="sok-knapp"
    />
  </div>
</div>
<div id="loading-message" class="loading">Hämtar data...</div>
<div class="car-info" id="car-info"></div>
<div class="step-two">
  <div class="car-info" id="car-info"></div>
  <label class="mile-label" for="milage-input"
    >Hur många mil per månad tänte du åka?:</label
  >
  <div class="input-wrapper">
    <input
      type="text"
      id="milage-input"
      class="milage-input"
      placeholder="1000"
    />
    <div onclick="Calc()">
      <img
        src="/bilder/arrow_r.svg"
        alt="arrow"
        class="sok-knapp"
        id="sok-knapp"
      />
    </div>
  </div>
  <div id="loading-message" class="loading">Hämtar data...</div>
  <div id="fuel-find" class="loading">Hämtar bränslepriser...</div>
  <div id="ins-find" class="loading">Hämtar försäkring...</div>
  <div id="maintenance-find" class="loading">Räknar på underhåll...</div>
  <div id="nklar" class="loading">Nästan klar...</div>
</div>

<script type="module" src="/js/search/sok.js" is:inline></script>

<style>
  .hidden {
    display: none !important;
  }
  .input-wrapper {
    position: absolute;
    width: var(--input-sok-sz);
    aspect-ratio: 4/1;
    padding-right: 4rem;
    border-radius: 4px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;

    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
  }

  input {
    width: var(--input-sok-sz);
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    font-size: 2rem;
    font-weight: 600;

    text-align: center;
    letter-spacing: 5px;
    font-family: var(--font);
    text-transform: uppercase;
    padding: 0;
    border: 0;
  }

  .reg-num-label {
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  .sok-knapp {
    position: absolute;
    left: var(--input-sok-sz);
    background-color: var(--guld_2);
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: 100%;
    cursor: pointer;
    z-index: 60;
  }

  img:hover {
    opacity: 0.8;
  }

  .registration-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  .loading {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;

    font-family: var(--font);
    color: var(--kontrast);
  }

  .step-two {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .step-two.show {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
  }

  .car-info {
    position: absolute;
    width: 100%;
    height: fit-content;

    top: 110%;
    left: 0;

    font-family: var(--font);
    font-size: 1.5rem;

    background: linear-gradient(to bottom, #0f0f0f, #444444);

    box-shadow:
      0 0 8px rgba(255, 165, 0, 0.5),
      0 0 16px rgba(255, 165, 0, 0.3),
      0 0 24px rgba(255, 165, 0, 0.2);

    border-radius: 5px;

    p {
      margin: 0;
    }
  }

  .mile-label {
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 90%;
    font-size: 1rem;
  }
  .blue-strip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    overflow: hidden;

    background: #003399;
    width: calc(var(--input-sok-sz) * 0.15);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .country-code {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 7px;
  }

  .stars-circle {
    position: absolute;
    top: 8%;
    width: 30px;
    height: 30px;
  }
  @media (max-width: 600px) {
    .input-wrapper {
      width: 70%; /* Justera bredden här */
      height: 25%;
      padding-right: 2rem; /* Minska padding om nödvändigt */
    }

    input {
      font-size: 1.5rem; /* Justera fontstorlek */
      width: 80%;
    }

    .reg-num-label,
    .mile-label {
      font-size: 0.8rem; /* Justera storleken på etiketterna */
    }

    img {
      height: 100%; /* Justera storleken på ikonen */
      left: 80%; /* Placera om ikonen */
    }

    .blue-strip {
      width: 15%;

      .country-code {
        font-size: 15px;
      }

      .stars-circle {
        left: 2px;
        top: 8px;
        width: 85%;
      }
    }

    .arrow-knapp {
      position: absolute;
      right: 0;
      top: 0;

      width: 20%;
      height: 100%;
      img {
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }

    .registration-input {
      padding-left: 20px;
    }
  }
</style>
