<div class="input-wrapper reg-input-wrapper">
  <div class="blue-strip">
    <img src="/bilder/stars.svg" alt="Stars" class="stars-circle" />
    <div class="country-code">S</div>
  </div>
  <input
    type="text"
    id="reg-number"
    class="registration-input"
    placeholder="ABC123"
    maxlength="6"
  />
</div>
<div id="loading-message" class="loading">Hämtar data...</div>
<div class="car-info" id="car-info"></div>

<div class="step-two hidden">
  <div class="car-info" id="car-info"></div>
  <label class="mile-label" for="milage-input"
    >Hur många mil per månad tänte du åka?:</label
  >
  <div class="input-wrapper">
    <input
      type="text"
      id="milage-input"
      class="milage-input"
      placeholder="1000"
    />
    <div onclick="Calc()">
      <img
        src="/bilder/arrow_r.svg"
        alt="arrow"
        class="sok-knapp"
        id="sok-knapp"
      />
    </div>
  </div>
  <div id="loading-message" class="loading">Hämtar data...</div>
  <div id="fuel-find" class="loading">Hämtar bränslepriser...</div>
  <div id="ins-find" class="loading">Hämtar försäkring...</div>
  <div id="maintenance-find" class="loading">Räknar på underhåll...</div>
  <div id="nklar" class="loading">Nästan klar...</div>
</div>

<script type="module" src="/js/search/sok.js" is:inline></script>

<style>
  :root {
    --input-fs: 4rem;
    --country-code-fs: 2rem;
    --loading-fs: 4rem;
    --ml-fs: 2rem;
  }
  .hidden {
    display: none !important;
  }
  .input-wrapper {
    position: relative;
    width: var(--input-sok-sz);
    aspect-ratio: 4/1;
    border-radius: 4px;

    overflow: hidden;

    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
  }

  input {
    width: var(--input-sok-sz);
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    font-size: var(--input-fs);
    font-weight: 600;

    text-align: center;
    letter-spacing: 5px;
    font-family: var(--font);
    text-transform: uppercase;
    padding: 0;
    border: 0;
  }

  img:hover {
    opacity: 0.8;
  }

  .registration-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  .loading {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: var(--loading-fs);

    font-family: var(--font);
    color: white;
    font-weight: bold;
  }

  .blue-strip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    overflow: hidden;

    background: #003399;
    width: calc(var(--input-sok-sz) * 0.15);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .country-code {
    position: absolute;
    font-size: var(--country-code-fs);
    font-weight: bold;
    bottom: 7px;
  }

  .stars-circle {
    position: absolute;
    top: 8%;
    width: 70%;
    aspect-ratio: 1;
  }

  .car-info {
    position: absolute;

    bottom: 30px;

    font-size: 4rem;
    font-weight: bold;
  }

  .step-two {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .mile-label {
    position: relative;
    font-size: var(--ml-fs);
    font-weight: 600;
    z-index: 10;
    text-align: center;
    margin-bottom: var(--margin-s);
  }

  @media (max-width: 550px) {
    :root {
      --input-sok-sz: 20rem;
      --input-fs: 3rem;
      --country-code-fs: 1.5rem;
      --loading-fs: 2rem;
      --ml-fs: 1.2rem;
    }
  }

  @media (max-width: 350px) {
    :root {
      --input-sok-sz: 15rem;
      --input-fs: 1.5rem;
      --country-code-fs: 1rem;
      --loading-fs: 0.5rem;
      --ml-fs: 0.6rem;
    }
  }
</style>
