---
// import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
---

<header>
  <a href="/"><h1 class="namn">VAD KOSTAR BILEN</h1></a>
</header>
<script is:inline>
  document.addEventListener("DOMContentLoaded", async () => {
    const loginContainer = document.getElementById("login-container");
    const menu = document.querySelector(".menu");
    const menuIcon = document.querySelector(".menu-icon");
    const navButtons = document.querySelectorAll(".nav-button");

    function toggleMenu() {
      menu.classList.toggle("show");

      // Animera synlighet för knapparna i menyn
      navButtons.forEach((btn, index) => {
        if (menu.classList.contains("show")) {
          btn.style.opacity = "0";
          setTimeout(() => {
            btn.style.opacity = "1";
          }, index * 50); // Fördröjning för en smooth fade-in-effekt
        } else {
          btn.style.opacity = "0";
        }
      });
    }

    menuIcon.addEventListener("click", toggleMenu);

    // Kontrollera om JWT-token finns
    const jwtToken = localStorage.getItem("jwt");

    if (jwtToken) {
      try {
        const response = await fetch("http://127.0.0.1:5000/checksession", {
          method: "GET",
          headers: {
            Authorization: `Bearer ${jwtToken}`,
          },
        });

        if (response.ok) {
          const data = await response.json();
          if (data.username) {
            loginContainer.innerHTML = `
              <button class="login" onclick="window.location.href='/profile'" data-astro-cid-5dsaiak7>
                <img src="/bilder/login_icon.svg" alt="" class="login_img" data-astro-cid-5dsaiak7/>
                <div class="login_button_text" data-astro-cid-5dsaiak7>${data.username}</div>
              </button>
            `;
          }
        } else {
          localStorage.removeItem("jwt");
        }
      } catch (error) {
        console.error("Fel vid validering av session:", error);
        localStorage.removeItem("jwt");
      }
    }
  });
</script>
<style>
  :root {
    --login_button_width: 130px;
  }
  .hidden {
    display: none;
  }
  header {
    width: 100%;
    height: var(--header-sz);

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    font-family: var(--font);
    h1 {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: var(--vit);
      width: 100%;
      text-align: center;
    }

    .logga {
      position: absolute;

      top: 50%;
      left: 5%;
      transform: translate(-50%, -50%);
      margin: 0;
      width: 4rem;
    }
  }
</style>
