<div class="text_container">
  <h1 class="h1_profile">Allmänna kontoinställningar</h1>
  <button
    id="logout_button"
    class="logout_button"
    onclick="window.location.href='/'">Logga ut</button
  >
  <div class="line"></div>
</div>

<script src="../../../../public/js/logout.js"></script>

<style>
  .text_container {
    position: relative;
  }
  .logout_button {
    position: absolute;
    top: 0;
    right: 8%;
    width: 200px;
    aspect-ratio: 4/1;
    font-size: 1.8rem;
  }
  .line {
    width: 200px;
    aspect-ratio: 14/1;

    background-color: var(--guld);
  }
</style>
