---
import ProfileText from "./profile_text.astro";
import Change_Info from "./change_info.astro";
import Profile from "./profile.astro";
---

<div class="profile_container">
  <ProfileText />
  <Profile />
</div>

<script src="/js/user/checklogin.js" is:inline></script>
<script src="/js/user/admin/admincheck.js" is:inline></script>

<script>
  const reply = await checkadmin();
  if (reply.message == "Autentiserad") {
    document.getElementById("admin_btn").style.display = "block";
  }
</script>

<style>
  .profile_container {
    margin-left: var(--margin-xxl);
    margin-right: var(--margin-xxl);
  }
</style>
