<h1 class="h1_profile">Allmänna kontoinställningar</h1>
<div class="line"></div>

<style>
  .h1_profile {
    margin-left: var(--margin-xxl);
  }

  .line {
    width: 200px;
    aspect-ratio: 14/1;

    margin-left: var(--margin-xxl);

    background-color: var(--guld);
  }
</style>
