---
import ProfileText from "./profile_text.astro";
import Change_Info from "./change_info.astro";
---

<div class="profile_container">
  <ProfileText />
  <Change_Info />
</div>

<script>
  async function checklogin() {
    const jwtToken = localStorage.getItem("jwt");

    // Om det inte finns n책gon JWT-token, skicka anv채ndaren till inloggningssidan
    if (!jwtToken) {
      console.log("Ingen anv채ndare 채r inloggad.");
      window.location.href = "/login"; // Omdirigera till inloggningssidan
      return;
    }
  }

  // Kontrollera session direkt vid sidladdning
  checklogin();
</script>

<style>
  .profile_container {
    margin-left: var(--margin-xxl);
    margin-right: var(--margin-xxl);
  }
</style>
