<div class="text_container">
  <h1 class="h1_profile">Allmänna kontoinställningar</h1>
  <!-- <button id="admin_btn" onclick="window.location.href='/admin'">Admin</button> -->
  <button
    id="logout_button"
    class="logout_button"
    onclick="window.location.href='/'">Logga ut</button
  >
  <div class="line"></div>
</div>

<script src="/js/user/logout.js" is:inline></script>

<style>
  .text_container {
    position: relative;
  }
  .logout_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    aspect-ratio: 4/1;
    font-size: 1.8rem;
  }
  .line {
    width: 200px;
    aspect-ratio: 14/1;

    background-color: var(--guld);
  }

  #admin_btn {
    position: absolute;
    right: 30%;
    top: 0;

    width: 100px;
    aspect-ratio: 4/1;

    font-size: 10px;

    display: none;
  }

  @media (max-width: 700px) {
    .h1_profile {
      margin-top: 100px;
    }
    .logout_button {
      top: -70px;
      right: 50%;
      transform: translateX(50%);
    }
  }
</style>
