<h1 class="abonemang_header">Våra produkter och tjänser</h1>

<div class="line"></div>

<p class="abonemang_infotext">
  Om du använder Vad kostar bilen i ditt arbete eller inom ditt företag krävs en
  kommersiell licens. Som professionell användare får du obegränsad tillgång
  till Vad kostar bilen utan avbrott, samt en mängd extra data som inte är
  tillgänglig för gratisverisionen.
</p>

<style>
  .abonemang_header {
    margin-left: var(--margin-xl);
  }

  .line {
    width: 200px;
    aspect-ratio: 14/1;

    margin-left: var(--margin-xxl);

    background-color: var(--guld);
  }

  .abonemang_infotext {
    width: 70%;
    margin-left: var(--margin-xl);
  }
</style>
