<div class="text-container">
    <h1>Om Oss</h1>
    <p>Välkommen till <mark>VKB!</mark><br><br>

    Vi är här för att göra det enklare för dig att förstå dina månadskostnader för bilägande. Med hjälp av vår hemsida kan du enkelt beräkna din månadskostnad baserat på viktiga faktorer som skatt och bränsleförbrukning.</p>

    <h3>Vårt Uppdrag</h3>

    <p>Vi strävar efter att ge bilägare en tydlig och enkel vägledning i sina kostnader. Vi vet att bilägande kan vara en stor utgift och vår plattform syftar till att ge dig insikter som hjälper dig att fatta informerade beslut.</p>

    <h3>Hur Det Fungerar</h3>

    <p>Genom att ange några grundläggande uppgifter om din bil, inklusive skattesatser och bränsleförbrukning, kan du snabbt få en uppskattning av vad din bil verkligen kostar varje månad. Vi använder pålitlig data och verktyg för att säkerställa att våra beräkningar är så exakta som möjligt.</p>

    <h3>Varför Välja Oss?</h3>

    <ul>
        <li><mark>Användarvänligt:</mark> Vår modul är designad för att vara lättanvänd, oavsett din tekniska kunskap.</li>
        <li><mark>Transparent:</mark> Vi ger dig klara och tydliga beräkningar så att du alltid vet vad du kan förvänta dig.</li>
    </ul>

    <p>Tack för att du besöker vår hemsida. Vi ser fram emot att hjälpa dig förstå dina bilkostnader bättre!</p>
</div>


<style>

    .text-container{
        margin-left: 10%;
        margin-right:10% ;
        padding-bottom: var(--margin-xxl);
    }


    h1{
        text-align: center;
        margin-top: 5%;
    }

    h3{
        text-align: center;
        font-size: var(--sz);
    }

    p{
        font-size: calc(var(--sz)*0.8);

        font-family: var(--font);
        margin-bottom: calc(var(--margin-xxl)*2);
    }


    li{
        font-size: calc(var(--sz)*0.8);
    }


    mark{
        background-color: transparent;
        color: var(--orange);
        font-weight: 700;
    }
</style>