---
// import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
import Sok from "./sokreg.astro";
---

<div class="image-container">
  <img src="/bilder/car_image.webp" alt="En beskrivning av bilden">
  <h1>Ta reda på din <br /> <mark>Månadskostnad</mark> <br />redan idag</h1>
  <section class="select-vehicle">
    <div class="vehicle-select-box">
      <section class="registration-section">
        <Sok />
      </section>
    </div>
  </section>
    </div>

<style>
.image-container {
            position: relative;
            width: 100%;
            height: 466px;
            min-height: 300px;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .image-container::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--svart-genomskinlig);
        }
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: #fff; 
    mark{
        font-size: 40px;
        background-color: transparent;
        color: var(--vitt);
        font-weight: 800;
    }
}

.select-vehicle{
    display: flex;
    justify-content: center;
    position: absolute;

    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);

    width: 80%;
    .vehicle-select-box{

    width: 50%;
    height: 50%;
    background-color: var(--grått-genomskinlig);
    border-radius: var(--margin-l);
        p{
            text-align: center;
            font-size: 1lh;
            font-family: var(--font);
            margin-bottom: 0;
        }

    .registration-section {
        text-align: center;
        position: relative;
        height: 18rem;
    }
    
    .registration-section label {
        margin-bottom: 10px;
        font-size: 25px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
    }
    
    }
}
</style>

