---
import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
import Sok from "./sokreg.astro";
---

<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vad kostar bilen</title>
  </head>
  <body>
    <header>
      <h1>VAD KOSTAR BILEN</h1>
    </header>

    <div class="index-säljtext">
      <h1>Ta reda på din <br /> <mark>Månadskostnad</mark> <br />redan idag</h1>
    </div>
    <section class="select-vehicle">
      <div class="vehicle-select-box">
        <p>1/3</p>
        <section class="registration-section">
          <Sok />
        </section>
      </div>
    </section>
  </body>
</html>
