---
import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
import Sok from "./sokreg.astro";
---


<section class="select-vehicle">
  <div class="vehicle-select-box">
    <p>1/3</p>
    <section class="registration-section">
      <Sok />
    </section>
  </div>
</section>

