<script type="module" src="/js/search/result.js" is:inline></script>

<div class="result-container">
  <h1 class="info-head">
    Total: <br /><mark><div class="car-info" id="tot_pris"></div></mark>
  </h1>

  <h2 class="info-head">
    Co2 utsläpp: <br /><mark
      ><div class="car-info" id="emission_display"></div></mark
    >
  </h2>
  <button onclick="window.location.href='/tips'"
    >Spara pengar & minska utsläpp</button
  >
  <div class="data-container">
    <div class="data-ram">
      <h3>Försäkring</h3>
      <div class="info" id="insurance_display"></div>
    </div>
    <div class="data-ram">
      <h3>Bensinkostnad</h3>
      <div class="info" id="tot_bkostnad"></div>
    </div>
    <div class="data-ram">
      <h3>Skatt per månad</h3>
      <div class="info" id="skatt"></div>
    </div>
    <div class="data-ram">
      <h3>Totalt Underhåll</h3>
      <div class="info" id="maintenance_display"></div>
    </div>
    <div class="data-ram">
      <h3 id="dmedeltyp"></h3>
      <div class="info" id="bkostnad"></div>
    </div>
    <div class="data-ram">
      <h3>Bensinförbrukning</h3>
      <div class="info" id="bbruk_display"></div>
    </div>
    <div class="data-ram">
      <h3>Underhåll service</h3>
      <div class="info" id="maintenance_display_service"></div>
    </div>
    <div class="data-ram">
      <h3>Underhåll däck</h3>
      <div class="info" id="maintenance_display_tire"></div>
    </div>
  </div>
  <h3 id="car_name"></h3>
</div>

<style>
  p {
    margin: 0;
  }

  .result-container {
    display: block;
    width: 100%;
    height: 100vh- var(--header-sz);
    position: absolute;
    top: var(--header-sz);
    left: 0;
    background-color: var(--svart);

    button {
      color: var(--guld);
      text-decoration: none;
      margin-top: var(--margin-s);
      font-size: 1.25rem;
      font-weight: bold;

      width: fit-content;
      height: var(--header-btn-sz);
      background-color: var(--orange);
      border-radius: 1rem;

      text-align: center;

      display: flex;
      justify-content: center;

      cursor: pointer;

      position: relative;
      left: 50%;
      transform: translate(-50%);
      &&:hover {
        background-color: var(--gra);
        cursor: pointer;
      }
    }

    .info-head {
      text-align: center;

      mark {
        background-color: transparent;
      }
    }
    h1 {
      font-size: calc(var(--sz) * 2);
      mark {
        color: var(--green);
        font-size: calc(var(--sz) * 3);
      }
    }

    h2 {
      font-size: calc(var(--sz));
      mark {
        color: var(--red);
        font-size: calc(var(--sz) * 1.5);
      }
    }
  }

  #dmedeltyp p {
    margin-bottom: 0;
  }

  .data-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    gap: var(--margin-xxl);

    justify-content: space-between;
    position: relative;

    .data-ram {
      flex-basis: calc(50% - var(--margin-xxl));
      width: fit-content;
      aspect-ratio: 2/1;

      text-align: center;

      h3 {
        border-bottom: 2px solid var(--vit);
        padding-bottom: var(--margin-s);
        font-size: var(--sz);
        margin-bottom: calc(var(--sz) * 0.3);
      }

      .info {
        color: var(--green);
        font-size: var(--sz);
      }
    }
  }

  #car_name {
    text-align: center;
  }
</style>
