---
import Shopcard from "./shopcard.astro";
import Shopoptions from "./shopoptions.astro";
---

<h1>Affär</h1>
<h2>Däck</h2>
<div class="itemcontainer">
  <Shopoptions />

  <div id="tireContainer" class="Ad_holder_tire"></div>
</div>

<h2>Tillbehör</h2>
<div class="itemcontainer">
  <Shopoptions />
</div>
<script is:inline src="/js/options.js"></script>

<style>
  :root {
    --HeaderSZ: 5rem;

    --ItemRubSZ: 3rem;

    --realwidth: calc(100% - var(--margin-m));

    --containerHeight: 350px;
    --containerWidth: calc(var(--containerHeight));
    --imgHeight: 40%;
    --InfoStart: var(--imgHeight);
    --infoHeigt: 40%;
    --TitleSize: 1.7rem;
    --PriceSize: calc(var(--TitleSize) * 1.2);

    --ButtonWidth: 50%;
    --ButtonHeight: calc(var(var(--ButtonWidth) * 0.2));
    --ButtonFontSz: 1.8rem;
    --ButtonPadding: 5px;
  }

  h1 {
    width: 99vw;
    margin-top: var(--margin-xxl);

    border-bottom: 1px solid var(--vit);

    text-align: center;
    font-size: var(--HeaderSZ);

    color: var(--guld);
  }

  h2 {
    width: var(--realwidth);
    border-bottom: 1px solid var(--vit);
    margin-left: var(--margin-m);
    margin-bottom: 0;

    font-size: var(--ItemRubSZ);
    color: var(--guld);
  }

  .Ad_holder_tire {
    width: var(--realwidth);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: var(--margin-s);
    gap: 20px;
  }
</style>
