---
import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
---

<div class="index-säljtext">
  <img src="/bilder/car_image.wepg" alt="">
  <h1>Ta reda på din <br /> <mark>Månadskostnad</mark> <br />redan idag</h1>
</div>