---
import "../css/style.css"; // Importera din CSS-fil i Astro-komponenten
---

<img src="/bilder/car_image.webp" alt="car.webp" class="index-säljtext">
  <h1>Ta reda på din <br /> <mark>Månadskostnad</mark> <br />redan idag</h1>
</img>

<style>
  img{
    
  }
</style>