<label> Användarnamn: </label>
<input type="text" id="new_api_user_username" placeholder="Ange användarnamn" />
<button type="submit" id="submit_btn">Generera API-nyckel</button>

<h3 id="key_display"></h3>

<script src="../../../../public/js/generatekey.js"></script>
