<div id="admin_cover" class="cover"></div>

<script src="/js/user/admin/admincheck.js" is:inline></script>

<style>
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: block;

    z-index: 50;
    background-color: black;
  }

  .hide {
    display: none;
  }
</style>
