---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Cookie from "../components/all/cookie.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bilder/logga.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Cookie />
    <Footer />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  :root {
    /* Margin */
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* Colors */
    --svart: rgb(0, 0, 0);
    --vit: rgb(255, 255, 255);
    --svart-genomskinlig: rgba(0, 0, 0, 0.5);
    --grått-genomskinlig: rgb(160, 160, 160, 0.5);
    --kontrast: rgb(18, 145, 255);
    --orange: #171618;
    --orange-btn-gradient: linear-gradient(
      to bottom right,
      rgb(171, 89, 19),
      rgb(255, 110, 50)
    );
    --guld: #cd9a48;
    --guld_2: #96661a;
    --green: #50c878;
    --red: #ff0000;
    --gra: #2e2d2f;

    /* Color palette */

    --primary-clr: #28646c;
    --cp-50: #effcfb;
    --cp-100: #d7f6f5;
    --cp-200: #b4edec;
    --cp-300: #80e0df;
    --cp-400: #45cacb;
    --cp-500: #29aeb1;
    --cp-600: #258d95;
    --cp-700: #24717a;
    --cp-800: #28646c;
    --cp-900: #234e56;
    --cp-950: #12343a;

    /* Font */
    --font: "Inter", sans-serif;

    /* Size */
    --header-sz: 4rem;
    --header-btn-sz: calc(var(--header-sz) * 0.5);
    --input-sok-sz: 30rem;
    --sz: 2rem;
  }
  html {
    font-family: var(--font);
    background: var(--svart);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .hide {
    display: none;
  }

  body {
    margin: 0;
    background-color: var(--black);
    color: #fff;
    text-rendering: optimizeLegibility;
  }

  button {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(var(--cp-500), var(--cp-600));
    border: 2px solid var(--cp-700);
    box-shadow:
      rgba(255, 255, 255, 0.25) 0px 2px 0px 0px inset,
      var(--cp-600) 0px 2px 4px 0px;
    border-radius: 1rem;
    text-align: center;
    padding: 8px 24px;
    user-select: none;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
    z-index: 1; /* Ensures the text stays above the overlay */
  }

  /* Gradient overlay */
  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--cp-600), var(--cp-700));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; /* Moves the gradient behind the text */
  }

  /* Fade in the gradient overlay on hover */
  button:hover::before {
    opacity: 1;
  }

  /* Smooth border transition */
  button:hover {
    border-color: var(--cp-800);
    cursor: pointer;
  }

  .zoom-image {
    transition: transform 0.3s ease; /* Gör övergången mjuk */
  }
  .zoom-image:hover {
    transform: scale(1.1); /* Zooma in med 10% */
  }
</style>
