---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Cookie from "../components/all/cookie.astro";
---

<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bilder/logga.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Cookie />
  </body>
</html>
<script>
  async function checkSession() {
    const jwtToken = localStorage.getItem("jwt");
    if (!jwtToken) {
      console.log("Ingen användare är inloggad.");
      return;
    }

    // Skicka token till backend för validering
    const response = await fetch("http://127.0.0.1:5000/checksession", {
      method: "GET",
      headers: { Authorization: `Bearer ${jwtToken}` },
    });

    const result = await response.json();

    if (response.ok) {
      console.log(result.message); // Välkomstmeddelande från backend
    } else {
      localStorage.removeItem("jwt");
      console.error("Sessionen är ogiltig eller har gått ut:", result.message);
    }
  }
  checkSession();
</script>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  :root {
    /* Margin */
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* Colors */
    --svart: rgb(0, 0, 0);
    --vit: rgb(255, 255, 255);
    --svart-genomskinlig: rgba(0, 0, 0, 0.5);
    --grått-genomskinlig: rgb(160, 160, 160, 0.5);
    --kontrast: rgb(18, 145, 255);
    --orange: #171618;
    --orange-btn-gradient: linear-gradient(
      to bottom right,
      rgb(171, 89, 19),
      rgb(255, 110, 50)
    );
    --guld: #cd9a48;
    --guld_2: #96661a;
    --green: #50c878;
    --red: #ff0000;
    --gra: #2e2d2f;

    /* Font */
    --font: "Inter", sans-serif;

    /* Size */
    --header-sz: 4rem;
    --header-btn-sz: calc(var(--header-sz) * 0.5);
    --input-sok-sz: 18rem;
    --sz: 2rem;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --primary-clr: #fff;
    }
  }

  /* Stilar för mörkt tema */
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-clr: rgb(0, 0, 0);
      --sec-clr: #fff;
    }
  }
  html {
    font-family: var(--font);
    background: var(--svart);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .hide {
    display: none;
  }

  body {
    margin: 0;
    background-color: var(--primary-clr);
    color: #fff;
    height: 100vh;
    text-rendering: optimizeLegibility;
  }

  button {
    color: var(--guld);
    text-decoration: none;
    margin-right: var(--margin-s);
    font-weight: bold;

    background-color: var(--orange);
    border-radius: 1rem;

    text-align: center;
  }
  button:hover {
    cursor: pointer;
  }
</style>
